# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://Adham-Zain:xPd6wkY6GIT7lVzq@cluster0.h58v07m.mongodb.net/

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
